@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body, p, span, h1, h2, h3, h4, h5, h6{
  font-family: 'Noto Sans TC',sans-serif !important;
}
/* body, p, div, span, h1, h2, h3, h4, h5, h6{
  color: rgba(89, 89, 116, 1);
} */

i {
  pointer-events: none;
}
.displayFCC_col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.displayFCC {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textCenter {
  text-align: center;
}
.container {
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #ee9ca7;
    background: -webkit-linear-gradient(to bottom, #ffdde1, #ee9ca7);
    background: linear-gradient(to bottom, #ffdde1, #ee9ca7); 

}
.centered {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: transparent;
}
.listBlock {
    overflow: hidden;
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 700px; 
    max-width: 375px;
    /* height: 300px;  */
    padding: 8px 16px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.imgContainer {
  width: 160px;
  height: 160px;
}
.imgObj{
  margin: 0px 0px 15px;
  /* width: 100%; */
  height: 100%;
}
.an{
    animation: flo ease-in-out 0.75s infinite alternate;
  }
  @keyframes flo{
    0%{
      transform: translateY(5px);
    }
    100%{
      transform: translateY(-5px);
    }
  }

  .done {
    opacity: 0.5;
    text-decoration: line-through;
    text-decoration-thickness: 0.2rem;
  }
  
  @-webkit-keyframes scaleUp {
    from {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes scaleUp {
    from {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @-webkit-keyframes scaleDown {
    to {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  
  @keyframes scaleDown {
    to {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }

  .month-title {
    width: 100%;
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  #this-month {
    font-size: 20px;
    font-weight: 700;
  }
  #prev-month {
    border-right: 1px solid black;
    padding-right: 5px;
  }
  #next-month {
    border-left: 1px solid black;
    padding-left: 5px;
  }
  .week-row {
    display: flex;
  }
  
  .day-cell {
    flex: 1;
    text-align: center;
    /* 不增加左右寬度 */
    padding: 5px 0px;
    /* border: 1px solid #ccc; */
    border-top:    0px solid  #fff;
    border-right:  0px dashed #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.415);
    border-left:   0px solid  #fff;
    font-size: 14px;
  }
  
  .empty-cell {
    /* background-color: #f5f5f5; */
    background: transparent;
  }

  .click-disabled {
    pointer-events: none;
  }
  .note {
    background: linear-gradient(45deg, rgb(253, 126, 20) 0%, rgb(250, 82, 82) 100%);
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
    /* 增加格子內的空間 */
    margin: 0 5px;
  }
  .opacity0 {
    opacity: 0;
  }

  #my-div-left {
    width: 50px;
    height: 50px;
    background: rgb(134, 134, 230);
  }
  #my-div-right {
    width: 50px;
    height: 50px;
    background: rgb(134, 134, 230);
  }
  #my-div {
    width: 100px;
    height: 100px;
    background: orange;
  }

  /* for sweetalert */
  /* https://sweetalert.js.org/docs/#theming */
  
  .swal-overlay {
    background-color: rgba(0, 0, 0, 0.45);
  }
  .swal-overlay--show-modal .swal-modal{
    opacity: 0.85;
  }
  .swal-modal {
    /* opacity: 0.85; */
    border: 1px solid white;
  }
  .swal-title {
    font-size: 20px;
  }
  .swal-button--danger {
    background-color: rgb(130, 65, 33);
  }
  .swal-button--danger:not([disabled]):hover {
    background-color: rgb(102, 48, 21);
  }
  .swal-button--confirm {
    background-color: rgb(249, 192, 61);
  }
  .swal-button--confirm:not([disabled]):hover {
    background-color: rgb(238, 172, 21);
  }