.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: wheat;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.an{
    animation-name: flo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    bottom: 80px;
    left:20px;
  
  }
  @keyframes flo{
    50%{
      transform: translateY(30px);
    }
  }