.circle {
    font-size: 30px;
    width: 100px;
    height: 100px;
    background-color: wheat;
    border-radius: 50%;
    
    color: white;
    font-weight: 900;

    display: flex;
    justify-content: center;
    align-items: center;
}
.c1 {
    position: absolute;
    left: 0px;
    top: 0px;
}
.c2 {
    position: absolute;
    right: 0px;
    top: 0px;
}
.c3 {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.c4 {
    position: absolute;
    right: 0px;
    bottom: 0px;
}